<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="百度" verbose="2" preserve-order="true">
	<test name="搜索51Testing的测试用例">
		<classes>
			<class name="com.automation.test.BaiduTest1" />
		</classes>
	</test>
	<test name="搜索Selenium的测试用例">
		<classes>
			<class name="com.automation.test.BaiduTest2" />
		</classes>
	</test>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>